{% extends "BaseApp/base.html" %}
{% block content %}
{% load widget_tweaks %}
<section class="content">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4>Business edit</h4>
            </div>
            <div class="box-body">
                {% for field in form %}
                <div class="form-group has-feedback">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <div id="locationField">
                    <label>Address</label>
                    <input id="autocomplete" class="form-control" name="address_raw" placeholder="Enter your address" onFocus="geolocate()" type="text">
                </div>
                <a data-target="#address-details" data-toggle="collapse" >+ View address details</a>
                <div id="address-details" class="collapse">
                    {% for field in address_form %}
                    <div class="form-group has-feedback">
                        <label>{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="pull-right btn btn-primary btn-success  btn-flat">Update</button>
                <a href="{% url 'business delete' business_id %}" class="pull-left btn btn-primary btn-danger  btn-flat">Delete</a>

            </div>
        </div>
    </form>

</section>

 <script>

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name',
      };

      function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();
            document.getElementById('lat').value = place.geometry.location.lat();
            document.getElementById('long').value = place.geometry.location.lng();
  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}

      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            console.log("lat:"+geolocation.lat + "    long:" + geolocation.lng )
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABPpBlRI9Qri5jm4BD7bRAl-abe4afVB0
&libraries=places&callback=initAutocomplete&language=en"
            async defer></script>


{% endblock %}
