{% extends "BaseApp/base.html" %}
{% load widget_tweaks %}
{% load app_filters %}
{% block content %}
<div class="box box-body">
    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="What you looking for?">
    </div>
    <span class="counter pull-right"></span>
    <table class="table table-hover table-bordered results">
        <thead>
        <tr>
            {% if request.session.business %}
            <th>User</th>
            {% else %}
            <th>Business</th>
            {% endif %}
            <th>Title</th>
            <th style="width: 20px;"> %</th>
            <th>Type</th>
        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
        </thead>
        <tbody>
        {% for o in objects_list %}
        {% if request.session.business = o.discount_benefit.benefit.business %}
        <tr data-href="{% url 'my user discount benefit details' o.id %}">
            <td>
                <a href="{% url 'user details' o.user.id %}">
                    <img src="{{ o.user.image.url }}" class="img-rounded list-image" alt="Image">
                    {{ o.user }}
                </a>
            </td>
            {% else %}
        <tr data-href="{% url 'my business discount benefit details' o.id %}">
            <td>
                <a href="{% url 'business details' o.discount_benefit.benefit.business.id %}">
                    <img src="{{ o.discount_benefit.benefit.business.image.url }}" class="img-rounded list-image" alt="Image">
                    {{ o.discount_benefit.benefit.business }}
                </a>
            </td>
            {% endif %}
            <td>
                <span class="push-left">
                    <label>{{ o.discount_benefit.benefit.title }}</label>
                </span>
            </td>
            <td>
                <span class="push-left">
                    <label>{{ o.discount_benefit.discount_percentage }}</label>
                </span>
            </td>
            {% if o.discount_benefit.discount_type = 'item_discounts' %}
            <td>
                <span class="push-left">
                    <label>Item</label>
                </span>
            </td>
            {% elif o.discount_benefit.discount_type = 'service_discounts' %}
            <td>
                <span class="push-left">
                    <label>Service</label>
                </span>
            </td>
            {% else %}
            <td>
                <span class="push-left">
                    <label>Order price</label>
                </span>
            </td>
            {% endif %}

        </tr>
        {% empty %}
        <tr>no benefits</tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

