{% extends "BaseApp/base.html" %}
{% block content %}
{% if request.session.business %}
<section class="content">
    <div>
        <a href="{% url 'followers nearby' %}" class="btn btn-block btn-social btn-flat btn-success">
            <i class="fa fa-globe"></i>
            <b>See customers around you</b>
        </a>
    </div>
    <div>&nbsp;</div>
    <div class="box box-solid">
        <form action="" method="POST">{% csrf_token %}
            <div class="box-body">
                <h3 class="no-margin">Write new post</h3>
                {% for field in form %}
                <div class="form-group has-feedback">
                    <p class="no-margin">{{field.label}}</p>
                    {{field}}
                </div>
                {% endfor %}
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary btn-flat pull-right">Submit</button>
            </div>
        </form>
    </div>
    {% else %}
    <div>
        <a href="{% url 'businesses nearby' %}" class="btn btn-block btn-social btn-flat btn-success">
            <i class="fa fa-globe"></i>
            <b>See businesses around you</b>
        </a>
    </div>
    <div>&nbsp;</div>
    {% endif %}
    {% for p in posts %}
    {% include "BaseApp/NewsFeed/post.html" %}
    {% empty %}
    <p>no posts</p>
    {% endfor %}

    {% endblock %}
</section>


<!--<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>-->

<!--<form action="submitscript.php" target="dummyframe">-->
<!--&lt;!&ndash; form body here &ndash;&gt;-->
<!--</form>-->