{% extends "BaseApp/base.html" %}
{% block content %}
{% load widget_tweaks %}

<section class="content">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4>Create benefit</h4>
            </div>
            <div class="box-body">
                {% for field in form %}
                <div class="form-group has-feedback">
                    <label>{{field.label}}</label>
                    {% if field = form.starting_date %}
                    {{ field| attr:"type:date" }}
                    {% elif field = form.ending_date %}
                    {{ field|attr:"type:date" }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block btn-flat">Create</button>
            </div>
        </div>
    </form>

</section>

{% endblock %}
