{% extends "BaseApp/base.html" %}
{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}
<!-- Main content -->
<section class="content">
    <div class="box box-solid">
        <div class="box-header with-border ">
            <h3>Create order</h3>

        </div>
        <div class="box-body">
            <div class="input-group has-feedback pull-right clear-both inline">
                <input id="search-input" type="text" class="form-control" placeholder="Search an item...">
                <span class="form-control-feedback"><i class="fa fa-search"></i></span>
            </div>
            <div>&nbsp;</div><div>&nbsp;</div>
            <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="box-items">
                    <ul class="products-list product-list-in-box">
                        {% for item in items_list %}
                        <li class="item searchable box-overflow">
                            <span class="info-box-image"><img src="{{item.image.url}}"></span>
                            <div class="info-box-content">
                                {% for benefit in user.appuser.user_discount_benefits.all %}
                                {% if item.itemdiscount %}
                                {% if item.itemdiscount in benefit.discount_benefit.item_discounts.all and benefit.discount_benefit.benefit.is_available %}
                                <span class="info-box-more pull-right pull-top text-red"><del>{{ item.price| floatformat }}</del><i class="fa fa-sheqel"></i></span>
                                <span class="info-box-more pull-right pull-top text-green">{{ item.itemdiscount.new_price| floatformat }}<i class="fa fa-sheqel"></i></span>
                                {% elif item.itemdiscount in benefit.discount_benefit.item_discounts.all and not benefit.discount_benefit.benefit.is_available %}
                                <span class="info-box-more pull-right pull-top">{{ item.price|floatformat }}<i class="fa fa-sheqel"></i></span>
                                {% endif %}
                                {% endif %}
                                {% empty %}
                                <span class="info-box-more pull-right pull-top">{{ item.price }}<i class="fa fa-sheqel"></i></span>
                                {% endfor %}
                                <span class="info-box-text"><b>Name:</b> {{ item.name }}</span>
                                <span class="info-box-more"><b>Description:</b> {{ item.description }}</span>
                                {% if item.is_available = 'AVAILABLE' %}
                                <div class="pull-right"><input name='item_{{item.id}}' type="number"  min="0" max="99" value="0"/></div>
                                <span class="info-box-more text-green">Available</span>
                                <div>&nbsp;</div>
                                {% else %}
                                <div class="pull-right"><input name='item_{{item.id}}' type="number"  min="0" max="99" value="0" hidden/></div>
                                <span class="info-box-more text-red">Not Available</span>
                                <div>&nbsp;</div>
                                {% endif %}
                                <span class="info-box-more small pull-bottom pull-right"><b>Changed at:</b> {{ item.changed_at|date:"d.m.Y, H:i" }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>

                <div class="container-full">
                    <label>Available coupons:</label>
                    {% for item_coupon in request.user.appuser.user_item_coupons.all %}
                    {% if not item_coupon.is_used and item_coupon.item in items_list %}
                    <div>
                        <span class="pull-left"><input type="checkbox" name='item_coupon_checks' value="{{ item_coupon.id }}"/></span>
                        <span><b>Get free item: <span class="text-green">{{ item_coupon.item.name }}</span>.</b></span>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% for money_coupon in request.user.appuser.user_money_coupons.all %}
                    {% if not money_coupon.is_used and money_coupon.business = business %}
                    <div>
                        <span class="pull-left"><input type="checkbox" name='money_coupon_checks' value="{{ money_coupon.id }}"/></span>
                        <span><b>Get <span class="text-green">{{ money_coupon.money_reward }}<i class="fa fa-sheqel"></i></span> less in the order total amount.</b></span>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <hr>
                {% for field in form %}
                <div class="form-group has-feedback bootstrap-timepicker">
                    {% if field = form.picking_time %}
                    {% else %}
                    <label>{{field.label}}</label>
                    {{field}}
                    {% endif %}
                </div>
                {% endfor %}
                <hr>
                <div class="time hideable bootstrap-timepicker">
                    <label>Picking time</label>
                    {{form.picking_time}}
                </div>
                <div id="locationField" class="hideable address">
                    <label>Address</label>
                    <input id="autocomplete" class="form-control" name="address_raw" placeholder="Enter your address" onFocus="geolocate()" type="text">
                    <a data-target="#address-details" data-toggle="collapse" >+ View address details</a>

                </div>
                <div id="address-details" class="collapse">
                    {% for field in address_form %}
                    <div class="form-group has-feedback">
                        <label>{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                </div>

                <hr>
                <button type="submit" class="btn btn-primary btn-block btn-flat">Create</button>
            </form>
        </div>
    </div>


</section>
{% endblock %}

{% block scripts %}

<script>

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name',
      };

      function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}

      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABPpBlRI9Qri5jm4BD7bRAl-abe4afVB0
&libraries=places&callback=initAutocomplete&language=en"
        async defer></script>

<script src="{% static 'AdminLTE-2.3.0/plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'AdminLTE-2.3.0/plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'AdminLTE-2.3.0/plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<script>
    $("[data-mask]").inputmask();

    $(".timepicker").timepicker({
        showInputs: false,
        minuteStep: 15,
        showMeridian: false,
    });
</script>

<script type="text/javascript">
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            if($(this).attr("value")=="TAKE-AWAY"){
                $(".hideable").not(".time").hide();
                $(".time").show();
            }
            else if($(this).attr("value")=="DELIVERY"){
                $(".hideable").not(".address").hide();
                $(".address").show();
            else{
                $(".box").hide();
            }
        });
    }).change();
});
</script>


{% endblock %}
