{% extends "BaseApp/base.html" %}
{% block content %}
<section class="content">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4>Item edit</h4>
            </div>
            <div class="box-body">
                {% for field in form %}
                <div class="form-group has-feedback">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
            </div>
            <div class="box-footer">
                <button type="submit" class="pull-right btn btn-primary btn-success btn-flat">Update</button>
                <a href="{% url 'item delete' business_id catalog_id item_id %}" class="pull-left btn btn-primary btn-danger  btn-flat">Delete</a>

            </div>
        </div>
    </form>

</section>

{% endblock %}
